.DS_Store

/apps/base/application/cache/*
!/apps/base/application/cache/index.html
!/apps/base/application/cache/.htaccess

/apps/base/application/logs/*
!/apps/base/application/logs/index.html
!/apps/base/application/logs/.htaccess

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*
/vendor/

# IDE Files
#-------------------------
/nbproject/
.idea/*

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
